.content {
    position: relative;
    .empty-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .article-content {
        padding: 40px 0;
    }
}