.content {
    position: relative;
    .empty-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .article-content {
        padding: 20px 0;
        .md-editor-content {
            background: #fff;
            border-radius: 4px;
            .ProseMirror {
                height: 100%
            }
        }
        .md-editor-btn {
            text-align: center;
            padding: 30px 20px 50px;
            .ant-btn {
                width: 160px;
            }
            .submit-btn {}
            .cancel-btn {
                margin-left: 30px;
            }
        }
    }
}