@font-face {
    font-family: CartographMonoCFMedium;
    src: url('../assets/font/CartographMonoCFMedium.ttf');
}
body {
    margin: 0;
}
#root {
    position: relative;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.content .ant-btn {
    line-height: 1;
}