@import '~antd/dist/antd.less';
@font-face {
  font-family: CartographMonoCFMedium;
  src: url('../assets/font/CartographMonoCFMedium.ttf');
}
#root {
  // height: 100%;
  position: relative;
  font-family: CartographMonoCFMedium;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}